body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.45cm;
	font-weight: 400;
	color: black;
}
.container {
	margin-top: 1cm;
	margin-bottom: 1cm;
	padding: 2cm 1cm;
	box-shadow: 0 0 5px 2px gray;
}
.calculationTable {
	margin-top: 2cm;
}
h1 {
	font-weight: bold;
}
table {
	border-collapse: collapse;
}
thead {
	background-color: crimson;
}
.table thead th,
table,
th,
td {
	border: 2px solid black;
}
#addBtn,
#calculateBtn,
#deleteBtn {
	margin-bottom: 20px;
	border-radius: 0;
}
.form-control {
	border-radius: 0;
	height: 100%;
}
.form-control:focus {
	/* background-color: rgba(0, 140, 255, 0.5); */
	border-radius: 0px;
}
.table td,
#tm,
#om,
#cb {
	padding: 0;
}
.subject {
	padding: 5px;
}
#gpaParagraph {
	font-weight: bold;
}
#gpaBox,
#gradeBox {
	color: black;
}
@media only screen and (max-width: 480px) {
	body {
		font-size: 1rem;
	}
	.container {
		padding: 2cm 10px;
	}
}
